    <header>
        <nav class="navbar">
            <div class="logo col-12 col-md-6">
                <a href="/">
                    <img src="Assets/logo.jpg" width="100">
                </a>
            </div>
            <div class="links col-6 col-md-3 order-md-first">
                <ul>
                    <li><a href="/" class="col">Главная</a></li>
                    <li>
                        <div class="dropdown">
                            <button class="btn btn-secondaty dropdown-toggle categories" data-toggle="dropdown" type="button" id="book-dropdown" data-bs-toggle="dropdown">Каталог</button>

                            <ul class="dropdown-menu" aria-labelledby="book-dropdown">
                                <li><a href="/chairs-category" class="dropdown-item"> Стулья</a></li>
                                <li><a href="/tables-category" class="dropdown-item"> Столы</a></li>
                                <li><a href="/beds-category" class="dropdown-item"> Кровати</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
            <div class=" links col-6 col-md-3 ">
                <ul>
                    <li><a href="/shopping-cart " class="col ">Корзина</a></li>
                    <li><a href="/account/1" class="col ">Личный кабинет</a></li>
                </ul>
            </div>
            <hr>
        </nav>
    </header>
@code {

}
