@using WebBlazor.Services
@using WebBlazor.Data.Models
@inject NavigationManager _navigationManager

<h1>Список продуктов</h1>
<table class="table">
    <thead>
    <tr>
        <th>ID</th>
        <th>Название продукта</th>
        <th>Описание</th>
        <th>Категория</th>
        <th>Цена</th>
    </tr>
    </thead>
    <tbody>
    @if (users != null)
    {
       @foreach (var user in users)
       {
            <tr  @onclick="()=>toItem(user)">
                <td>@user.Id</td>
                <td>@user.Email</td>
                <td>@user.Password</td>
            </tr>
       }
    }
    </tbody>
</table>

@code{
    private List<User>? users;
    [Inject]
    private IUserProvider usersProvider { get; set; }
    protected override async Task OnInitializedAsync()
    {
        users = await usersProvider.GetAll();
    }
    public void toItem(User user)
    {
        _navigationManager.NavigateTo($"/User/{user.Id}");
    }
}